/* Element Styles */
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-align: center;
}
header,
ul,
#portfolio {
    display: flex;
    flex-direction: column;
}
header,
.nav-list,
footer {
    padding: .5rem;
}
header,
footer,
#contact {
    background-color: rgb(243, 243, 243);
}
a,
footer {
    font-weight: 500;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
footer {
    display: flex;
    justify-content: space-between;
}

/* ID Styles */

#portfolio {
    margin: 1rem;
}
#contact {
    padding: 2rem .5rem;
    border-bottom: 2px solid gray;
}

/* Class Styles */
.nav-list {
    margin: .25rem 0;
    background-color: white;
}
.my-img {
    max-width: 80%;
    margin: 0 auto;
}
.item {
    padding-bottom: 1.5rem;
}
.project-img {
    max-width: 100%;
}
.bottom-nav {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 768px) {

    .header-container2,
    .port-items {
        display: flex;
    }
    ul,
    .header-container2,
    .port-items {
        flex-direction: row;
    }
    ul {
        justify-content: center;
    }
    .nav-list {
        background-color: rgb(243, 243, 243);
    }
    .my-img {
        order: 1;
    }
    .header-p {
        padding-right: 1rem;
    }
    .port-items {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        max-width: 46vw;
    }
    .back-to-top {
        display: none;
    }
    .bottom-nav {
        display: inline-flex;
    }
    .bottom-ul {
        margin: 0;
    }
}
@media screen and (min-width: 1024px) {
    .header-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .item {
        max-width: 30vh;
    }
}